h2 {
    color: brown;
    font-size: 50px;
}
table {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.row tr th {
    background-color: brown;
    border: 1px solid black;

}

.row tr td {
    background-color: aquamarine;
    border: 1px solid black;
}
.col1{
    width: 100px;
}
.col2{
    width: 150px;
}
